* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reem Kufi", sans-serif !important;
  }
 .logo{
  width: 150px;
 }
 .header-container{
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  ;
 }
 .nav-item-wrapper{
  display: flex;
 }
 .nav-item-wrapper li{
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .search-wrap{
  margin-left: 30px;
  margin-top: 30px;
 }
 .search-wrap input{
  width: 50%;
  padding: 5px;
 }
 .resto-card-wrapper{
  width: 300px;
  height: 500px;
  padding: 10px;
  border: 1px solid #666;
 }
 .resto-card-wrapper img{
  width: 100%;
 }
 .resto-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
 }